body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding: 20px;
}

h1 {
  text-align: center;
}

.market {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  background: white;
  width: 290px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  display: inline-block;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card button {
  background: #28a745;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background: #218838;
}

img{
    width: 90px;
    height: 125px;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  .market {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  img {
    width: 80px;
    height: auto;
  }
} 
@media (min-width: 601px) and (max-width: 900px) {
  .market {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 45%;
  }
}
@media (min-width: 901px) {
  .market {
    flex-wrap: wrap;
  }

  .card {
    width: 290px;
  }
}

